body {
  font-family: 'SF Pro Display', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}
.logo-wrap {
  display: flex;
  justify-content: center;
  margin: 113px 0 75px 0;
}
.logo {
  width: 22.3334%;
}
.title {
  position: relative;
  text-align: center;
  font-size: 72px;
  font-weight: 500;
  z-index: 1;
}
.sec-1-img-wrap {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.sec-1-img {
  width: 87.835%;
}
.title-2 {
  margin: 0 7%;
}
.sec-2-img-wrap {
  margin-top: 146px;
  background-color: #f7f7f7;
}
.sec-2-img {
  width: 93.17%;
}
.sec-3-img {
  width: 100%;
}
.title-3 {
  margin: 180px 0 40px 0;
}
.sec-4-img {
  margin: 117px 0 136px 0;
  width: 100%;
}
.title-5 {
  margin-bottom: 95px;
}
.sec-5-content-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 17.75%;
}
.sec-5-content-item {
  width: 95%;
  margin-bottom: 45px;
  font-size: 28px;
}

.hr {
  margin-top: 45px;
  width: 40%;
  size: 3px;
  color: black;
}
.sec-5-content-left,
.sec-5-content-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.sec-5-content-right {
  padding-left: 5%;
}
.sec-6-img {
  margin: 146px 0 0 0;
  width: 100%;
}

@media (max-width: 920px) {
  .title {
    font-size: 40px;
  }
  .logo-wrap {
    margin: 80px 0 60px 0;
  }
  .sec-2-img-wrap {
    margin-top: 90px;
  }
  .title-3 {
    margin: 100px 0 30px 0;
  }
  .sec-4-img {
    margin: 80px 0 100px 0;
  }
  .title-5 {
    margin-bottom: 75px;
  }
  .sec-5-content-item {
    margin-bottom: 35px;
    font-size: 22px;
    width: 85%;
  }
  .hr {
    margin-top: 35px;
  }
  .sec-5-content-wrap {
    padding: 0 10%;
  }
  .sec-6-img {
    margin: 80px 0 0 0;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .logo-wrap {
    margin: 60px 0 40px 0;
  }
  .sec-2-img-wrap {
    margin-top: 60px;
  }
  .title-3 {
    margin: 80px 0 20px 0;
  }
  .sec-4-img {
    margin: 60px 0;
  }
  .title-5 {
    margin-bottom: 60px;
  }
  .sec-5-content-item {
    margin-bottom: 25px;
    font-size: 18px;
    width: 90%;
  }
  .hr {
    margin-top: 25px;
  }
  .sec-5-content-wrap {
    padding: 0 7%;
  }
  .sec-6-img {
    margin: 60px 0 0 0;
  }
}
@media (max-width: 520px) {
  .title {
    font-size: 20px;
  }
  .logo-wrap {
    margin: 40px 0 20px 0;
  }
  .sec-2-img-wrap {
    margin-top: 40px;
  }
  .title-3 {
    margin: 40px 0 10px 0;
  }
  .sec-4-img {
    margin: 40px 0;
  }
  .title-5 {
    margin-bottom: 40px;
  }
  .sec-5-content-item {
    margin-bottom: 15px;
    font-size: 14px;
    width: 95%;
  }
  .hr {
    margin-top: 15px;
  }
  .sec-5-content-wrap {
    padding: 0 5%;
  }
  .sec-6-img {
    margin: 40px 0 0 0;
  }
}
